.container-all {
  padding: 0;
}

/* Arrive en écriture */
h1 {
  position: relative;
  font-size: clamp(2rem, 5vw, 3rem);
  font-family: "Source Code Pro", monospace;
  margin: 10px;
  text-align: center;
  color: var(--main-text-color);
}

.welcome > span {
  margin: 10px;
  text-align: center;
  color: var(--main-text-color);
}
/* Arrivée du bas */
.welcome-sentence {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 400;
  font-family: "Source Code Pro", monospace;
  opacity: 0;
  transform: translateY(1em);
  animation: fadeInUp 1s ease calc(2.5s) forwards;
}

.order {
  animation-delay: 3s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Section */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

/* Qui suis-je */
section.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: clamp(320px, 70%, 600px);
  padding: 0 1rem;
  color: var(--main-text-color);
}

.about-content > h2 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  font-family: "Source Code Pro", monospace;
  text-align: center;
  margin-bottom: clamp(1rem, 2.5vw, 2rem);
}

.about-content .about-text > p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 400;
  font-family: "Source Code Pro", monospace;
}

.about-img img {
  width: clamp(200px, 30vw, 400px);
  height: clamp(200px, 30vw, 400px);
  object-fit: cover;
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  section.about {
    flex-direction: column;
  }
}
